/*======================================
//--//-->   STYLES GENERALES
======================================*/

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: transparent;
    color: #000000;
    font-size: 1.1rem;
    line-height: 1.8;
    overflow-x: hidden !important;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

:root {
    --green: #44956f;
    --dark-green: #307e64;
    --white: #fff;
    --blue: #0f8fe0;
    --dark-blue: #00508d;
    --site-blue: #475776;
}

.gradient-blue {
    background-image: linear-gradient(180deg, var(--site-blue)2%, var(--site-blue));
}


h1,
h2,
h3,
h4,
h5,
h6 {
    color: #000000;
    font-weight: 300;
}

a {
    color: #1e1e1e;
    transition: all 0.5s ease-in-out;
}

a:hover {
    color: #aa6124;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
}

.overlay-mf {
    background-color: #475776;
}

.overlay-mf {
    position: absolute;
    top: 0;
    left: 0px;
    padding: 0;
    height: 100%;
    width: 100%;
    opacity: .7;
}

.paralax-mf {
    position: relative;
    padding: 8rem 0;
}

.table-cell {
    display: table-cell;
    vertical-align: middle;
}

.sec-pt6 {
    padding-top: 6rem;
}

.sec-pb6 {
    padding-bottom: 6rem;
}

.sec-pt4 {
    padding-top: 4rem;
}

.sec-pb4 {
    padding-bottom: 4rem;
}

.sec-mt4 {
    margin-top: 4rem;
}

.sec-mb4 {
    margin-bottom: 4rem;
}

.sec-pl3 {
    padding-left: 3rem;
}

.sec-pt2 {
    padding-top: 2rem;
}

.sec-pb2 {
    padding-bottom: 2rem;
}

.sec-pt1 {
    padding-top: 1rem;
}

.sec-pb1 {
    padding-bottom: 1rem;
}

/* logo */
.logow {
    width: 0;
    height: auto;
}

.logo-show {
    width: 100px;
    height: auto;
}


/* Prelaoder */
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    overflow: hidden;
    background: #ffffff;
}

#preloader:before {
    content: "";
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 6px solid #475776;
    border-top: 6px solid #fff;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    -webkit-animation: animate-preloader 1s linear infinite;
    animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes animate-preloader {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/*======================================
//--//-->   NAVBAR
======================================*/


.navbar-b {
    transition: all .5s ease-in-out;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.subheader .navbar-b {
    background-color: rgba(0, 0, 0, 1);
}

.navbar-b.navbar-reduce {
    box-shadow: 0px 6px 9px 0px rgba(0, 0, 0, 0.06);
}

.navbar-b.navbar-trans .nav-item,
.navbar-b.navbar-reduce .nav-item {
    position: relative;
    padding-right: 10px;
    padding-left: 0;
}

.home_page .navbar-b.navbar-trans .nav-link {
    color: #ffffff;
}

.navbar-b.navbar-trans .nav-link,
.navbar-b.navbar-reduce .nav-link {
    color: #ffffff;
    text-transform: uppercase;
    /* font-size: 0.8rem; */
    font-weight: 100;
}

.navbar-b.navbar-trans .nav-link:before,
.navbar-b.navbar-reduce .nav-link:before {
    position: absolute;
    content: '';
    height: 1px;
    right: 0;
    left: 0;
    bottom: 0;
    transition: all 500ms ease;
    color: #5fcae6;
}

/* .navbar-b.navbar-trans .nav-link:hover,
.navbar-b.navbar-reduce .nav-link:hover {
    color: #5fcae6;
} */

.navbar-b.navbar-trans .nav-link:hover:before,
.navbar-b.navbar-reduce .nav-link:hover:before {
    width: 35px;
}

.navbar-b.navbar-trans .nav-link:hover:before,
.navbar-b.navbar-reduce .nav-link:hover:before,
.navbar-b.navbar-trans .show>.nav-link:before,
.navbar-b.navbar-trans .active>.nav-link:before,
.navbar-b.navbar-trans .nav-link.show:before,
.navbar-b.navbar-trans .nav-link.active:before,
.navbar-b.navbar-reduce .show>.nav-link:before,
.navbar-b.navbar-reduce .active>.nav-link:before,
.navbar-b.navbar-reduce .nav-link.show:before,
.navbar-b.navbar-reduce .nav-link.active:before {
    width: 67%;
    /* background: linear-gradient(to right, #5fcae6 10%, #5fcae6 10%, #5fcae6 30%, #5fcae6 70%, #5fcae6 100%, #5fcae6 100%); */
    background: transparent;
}

.navbar-b.navbar-trans .nav-link:before {
    background-color: transparent;
}

.navbar-b.navbar-trans #brochure-nav .nav-link:before {
    background-color: #c4094a;
}


/* .navbar-b.navbar-trans .nav-link:hover {
    color: #475776;
    font-weight: 700;
} */

/* .navbar-b.navbar-trans .show>.nav-link,
.navbar-b.navbar-trans .active>.nav-link,
.navbar-b.navbar-trans .nav-link.show,
.navbar-b.navbar-trans .nav-link.active {
    color: #333333;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
} */

.nav-line {
    opacity: 0;
    text-align: center;
    line-height: 1.4;
}

.navbar-b.navbar-trans .nav-link.active .nav-line {
    opacity: 1;
    text-align: center;
    line-height: 1.4;
}

.nav-line:after {
    background: linear-gradient(to right, #5fcae6 10%, #5fcae6 10%, #5fcae6 30%, #5fcae6 70%, #5fcae6 100%, #5fcae6 100%);
    position: absolute;
    content: '';
    height: 1px;
    right: 15px;
    left: 15px;
    bottom: 0;
}

.navbar-b.navbar-reduce {
    transition: all .5s ease-in-out;
    background-color: #000000;
    padding-top: 2px;
    padding-bottom: 2px;
}

.navbar-b.navbar-reduce .nav-link {
    color: #ffffff;
}

.navbar-b.navbar-reduce .nav-link:before {
    background-color: transparent;
}

.navbar-b.navbar-reduce .navbar-brand {
    color: #79716d;
}

.navbar-b.navbar-reduce .navbar-toggler span {
    background-color: #000000;
}

.navbar-b .navbar-brand {
    color: #fff;
    font-size: 1.6rem;
    font-weight: 600;
}

.navbar-b .navbar-nav .dropdown-item.show .dropdown-menu,
.navbar-b .dropdown.show .dropdown-menu,
.navbar-b .dropdown-btn.show .dropdown-menu {
    -webkit-transform: translate3d(0px, 0px, 0px);
    transform: translate3d(0px, 0px, 0px);
    visibility: visible !important;
}

.navbar-b .dropdown-menu {
    margin: 1.12rem 0 0;
    border-radius: 0;
}

.navbar-b .dropdown-menu .dropdown-item {
    padding: .7rem 1.7rem;
    transition: all 500ms ease;
}

.navbar-b .dropdown-menu .dropdown-item:hover {
    background-color: #0078ff;
    color: #fff;
    transition: all 500ms ease;
}

.navbar-b .dropdown-menu .dropdown-item.active {
    background-color: #0078ff;
}

/*--/ Hamburger Navbar /--*/
.navbar-toggler {
    position: relative;
}

.navbar-toggler:focus,
.navbar-toggler:active {
    outline: 0;
}

.navbar-toggler span {
    display: block;
    background-color: #ffffff;
    height: 3px;
    width: 25px;
    margin-top: 4px;
    margin-bottom: 4px;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    left: 0;
    opacity: 1;
}

.navbar-toggler span:nth-child(1),
.navbar-toggler span:nth-child(3) {
    transition: -webkit-transform .35s ease-in-out;
    transition: transform .35s ease-in-out;
    transition: transform .35s ease-in-out, -webkit-transform .35s ease-in-out;
}

.navbar-toggler:not(.collapsed) span:nth-child(1) {
    position: absolute;
    left: 12px;
    top: 10px;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    opacity: 0.9;
}

.navbar-toggler:not(.collapsed) span:nth-child(2) {
    height: 12px;
    visibility: hidden;
    background-color: transparent;
}

.navbar-toggler:not(.collapsed) span:nth-child(3) {
    position: absolute;
    left: 12px;
    top: 10px;
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
    opacity: 0.9;
}


.logo-img {
    width: 150px !important;
    height: auto !important;
    position: absolute;
    top: 0;
    left: 10%;
}

.border-bline {
    border-bottom: 3px solid #AA6124;
    width: 20%;
}


.text-right {
    text-align: right;
}

.black-color {
    color: #000000;
}

.white-color {
    color: #ffffff;
}

.navbar-toggler {
    background-color: #ffffff;
}

.bgimg-home {
    width: auto;
    height: 100vh;
    min-width: 100%;
}

.subhead {
    text-transform: uppercase;
    padding: 1rem 0 2rem 0;
}

.aboutImg-shadow {
    padding: 15px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}

.ftas {
    letter-spacing: 3px;
    font-size: 1.2rem;
    text-transform: lowercase;
}

.para {
    text-align: justify;
    padding-top: 1rem;
}

.learn-more {
    color: #333333;
    font-size: 1rem;
    padding-top: 1rem;
    font-weight: 500;
}

.sliderline {
    background: linear-gradient(to right, #5fcae6 10%, #5fcae6 10%, #5fcae6 30%, #5fcae6 70%, #5fcae6 100%, #5fcae6 100%);
    content: '';
    height: 10rem;
    border-top-right-radius: 5rem;
    border-bottom-right-radius: 5rem;
    text-align: right;
    margin-right: 0;
    position: absolute;
    top: 65%;
    z-index: 9;
    width: 30%;
    max-width: 30%;
}


.solution,
.clients,
.problem-statement {
    background: #5fcae6;
}

ul {
    margin-left: 1.1rem;
    margin-right: 1.1rem;
}

.nav.flex-column.col-sm-3 {
    margin: 0;
    height: 100%;
    max-height: 300px;
    display: block !important;
    overflow-x: hidden;
    overflow-y: scroll;
}

.is-hidden {
    display: none !important;
}

p.textoverflow {
    display: block;
    display: -webkit-box;
    max-width: 100%;
    max-height: 100px;
    margin: 0 auto;
    line-height: 1.5;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

a {
    cursor: default;
}


.nav-tabs .nav-link:hover,
a:not([href]):not([tabindex]):hover {
    color: #495057;
    background-color: #efeeef;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active,
.nav-tabs .nav-link:focus,
a:not([href]):not([tabindex]).active,
a:not([href]):not([tabindex]):focus {
    color: #ffffff;
    background-color: #8b5e3c;
    border-color: #dee2e6 #dee2e6 #fff;
}

.nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.border-pad {
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 20px 20px 0 rgb(0 0 0 / 7%);
    margin-bottom: 25px;
}

.site-color {
    text-align: center;
    color: #8b5e3c;
}

.img-fluid.fix-height {
    width: 100%;
}

hr.divide-line {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 1);
}

.client-img {
    width: 100%;
    max-width: 200px;
}

/*======================================
//--//-->   FOOTER
======================================*/
footer {
    color: #ffffff;
    background: #000000 !important;
    font-weight: 500;
}

.footer-logo {
    padding: 0 1.5rem 1.5rem 1.5rem;
}

.adds-title {
    font-size: 1.5rem;
    padding-bottom: 1rem;
}

/*======================================
//--//-->   MEDIA QUERIES
======================================*/


@media (min-width: 1500px) {

    .home .banner-title {
        font-size: 6rem;
    }
}
@media (max-width: 992px) {

    .home_page .navbar-toggler span {
        background-color: #000;
    }
}

@media (min-width: 768px) {

    .navbar-b.navbar-trans .nav-item,
    .navbar-b.navbar-reduce .nav-item {
        padding-left: 10px;
    }

    .navbar-b.navbar-trans .nav-link:before,
    .navbar-b.navbar-reduce .nav-link:before {
        margin-left: 18px;
    }

    .intro .intro-title {
        font-size: 3.5rem;
        text-align: left;
    }

    .intro-single .intro-title {
        font-size: 3.5rem;
    }
}

@media (max-width: 1024px) {

    .linebox {
        margin: 1% 20%;
    }

    .linebox:after {
        right: 0;
        left: 0;
    }
}

@media (max-width: 768px) {
    .home {
        height: 235px;
    }

    .home .banner-title {
        font-size: 2.5rem;
    }

    .about.sec-pt4 {
        padding-top: 1rem;
    }

    .sec-pl3 {
        padding-left: 15px;
    }

    /* .header-bg {
        background-image: url(../images/pegasus-cover-bg.jpg);
    } */


    .logo-img {
        top: 10%;
        left: 5%;
    }

    /* .home .banner-title .black-color {
        color: #fff;
    } */


    .subhead {
        padding: .5rem;
    }

    .navbar-toggler span {
        display: block;
        /* background-color: #ffffff; */
    }

    .footer-logo {
        padding: 0 1.5rem 1.5rem 0;
    }
}

@media (max-width: 767px) {
    .your-slider.intro {
        height: 230px !important;
    }

    /* .home_page .navbar-b.navbar-trans .nav-link, */
    /* .home_page .navbar-b.navbar-reduce .nav-link { */
    /* color: #000000; */
    /* } */

    .home_page .navbar-toggler span {
        background-color: #000;
    }

    .navbar-toggler span {
        background-color: #000;
    }

    .linebox {
        margin: 1% 15px;
    }

    .linebox:after {
        right: 0;
        left: 0;
    }
}



.back-to-top {
    position: fixed;
    bottom: 3rem;
    right: 3rem;
    z-index: 99;
    background: rgba(0, 0, 0, 0.6);
    padding: .7rem 1rem;
    color: #999;
}

.back-to-top:hover {
    color: white;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
}

/*dropdown */
.dropdown-menu {
    background-color: rgba(0, 0, 0, 0.7);
}



.form-reservations-box {
    width: 70%;
    margin: 0 auto;
}

.reservations-main h4 {
    text-align: center;
    font-weight: 500;
    font-size: 22px;
    padding-top: 25px;
}

.reservations-main p {
    text-align: center;
    font-size: 16px;
}

.reservations-box {
    padding-top: 30px;
}

.form-box {
    margin-bottom: 10px;
    /* min-height: 53px; */
}

.form-box input {
    width: 100%;
    border: none;
    background: #ffffff;
    color: #4A5159;
    padding: 6px 12px;
    /* text-transform: capitalize; */
    border-radius: 0;
    opacity: 1;
    /* min-height: 54px; */
}

.form-box select {
    width: 100%;
    border: 2px dotted #ccc;
    background: #f5f5f5;
    color: #202020;
    padding: 12px;
    text-transform: capitalize;
    border-radius: 4px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
}

.form-box .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: 100%;
}

.form-box .bootstrap-select button {
    width: 100%;
    border: 2px dotted #ccc;
    background: #f5f5f5;
    color: #202020 !important;
    padding: 15px;
    text-transform: capitalize;
    border-radius: 4px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
}

.form-box select option {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 5px;
}

::-webkit-input-placeholder {
    /* Chrome */
    /* color: #8a5d3b; */
    font-size: 14px;
    font-weight: 300;
    text-transform: capitalize;
}

:-ms-input-placeholder {
    /* IE 10+ */
    /* color: #8a5d3b; */
    font-size: 14px;
    font-weight: 300;
    text-transform: capitalize;
}

::-moz-placeholder {
    /* Firefox 19+ */
    /* color: #8a5d3b; */
    font-size: 14px;
    font-weight: 300;
    text-transform: capitalize;
    opacity: 1;
}

:-moz-placeholder {
    /* Firefox 4 - 18 */
    /* color: #8a5d3b; */
    font-size: 14px;
    font-weight: 300;
    text-transform: capitalize;
    opacity: 1;
}

.reserve-book-btn {
    text-align: right;
    /* padding-top: 30px; */
}

.reserve-book-btn button a {
    color: #fff;
}

.reserve-book-btn button:hover {
    background: none;
    color: #5fcae6;
}

.reserve-book-btn button {
    color: #000000;
    min-width: 219px;
    padding: 6px 12px;
    display: inline-block;
    text-align: center;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 18px;
}

.reserve-book-btn button:hover a {
    background: none;
    border: none;
}

textarea:focus,
input:focus,
select:focus,
.bootstrap-select .dropdown-toggle:focus {
    outline: none !important;
}

.error {
    color: red;
}

.slide-content {
    position: absolute;
    top: 45%;
    left: 9%;
}

.logo-img {
    width: 150px !important;
    height: auto !important;
    position: absolute;
    top: 0;
    left: 10%;
}

ul.list-items {
    list-style: none;
}

ul li.list-item .bullets {
    color: #5fcae6;
    font-size: 1em;
    font-weight: 800;
    display: inline-block;
    line-height: 0.1;
    border: 5px solid #62cfec;
    border-radius: 50% 50%;
    background: #62cfec;
    margin-right: 1em;
}

li.list-item {
    text-transform: uppercase;
    font-size: 1rem;
    line-height: 2.5;
    font-weight: 600;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
}

.nav-link {
    display: block;
    padding: 0.5rem 1rem 0 1rem;
}

.navbar-expand-lg .navbar-nav .nav-link.active,
.navbar-expand-lg .navbar-nav .nav-link:hover {
    border-bottom: 2px solid #62cfec !important
}

.bottom-border {
    border-bottom: 2px solid #62cfec !important
}

.bottom-border50 {
    border-bottom: 2px solid #62cfec !important;
    width: 50%;
    padding: 0;
    margin-bottom: 2rem;
}

.white-bottom-border50 {
    border-bottom: 2px solid #ffffff !important;
    width: 50%;
    padding: 0;
    margin-bottom: 2rem;
}

.adds a {
    color: #ffffff;
}

.adds a:hover,
.adds a:active {
    color: #62cfec;
}

@media screen and (max-width: 767px) {
    .sliderline {
        height: 4rem;
        top: 15%;
        width: 35%;
        max-width: 35%;
    }

    .bottom-border50 {
        width: 100%;
    }
}

@media screen and (max-width: 1024px) {
    .bgimg-home {
        width: 100%;
        height: auto;
        max-width: 100%;
        min-width: none;
    }
}   
